.contact {
    /* background: linear-gradient(
        to bottom,
        aliceblue 0%,
        rgb(151, 171, 192) 80%,
        white 80%,
        white 100%
    ); */
    /* height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
}