.main__header {
    background: linear-gradient(
        to bottom,
        aliceblue 0%,
        rgb(151, 171, 192) 80%,
        white 80%,
        white 100%
    );
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

.main__header__container {
    background: url('../../assets/mathsbg3cropped.png') center bottom/cover no-repeat;
    height: 60vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

