.main__header{
    /* height: 100vh; */
    display: flex;
    z-index: 99;
    height: 120vh;
}

/* BACKGROUND */

.main__header > img {
    position: absolute;
    z-index: -1;
    height: 100%;
}

.main__header__container {
    height: 100%;
}


.main__header__content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1rem;
    margin-top: 3rem;
}

/* MAIN MIDDLE CONTENT */

.main__header__ad {
    text-align: center;
    padding-top: 2rem;
}

.main__header__ad > h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    color: rgb(12, 90, 122);
}

.main__header__ad > h2 {
    font-family: 'Poppins', sans-serif;
    margin-top: 1rem;
    font-size: 1rem;
    color: rgb(12, 90, 122);
}

/* LOGO */
.main__header__logo {
    padding-left: 7rem;
    color: rgb(3, 60, 83);
}


.main__header__logo > h3 {
    color: rgb(3, 60, 83);
    font-size: 28px;
}

/* NAV */

.main__header__nav {
    text-align: left;
    color: rgb(12, 90, 122);
}

.main__header__nav > nav {
    font-size: 12px;
    float: right;
    padding-right: 7rem;
}

/* BUTTONS */

.main__header__buttons {
    justify-content: center;
    text-align: center;
    display: flex;
    gap: 1rem;
    margin-top: 10px;
}

.main__header__buttons > button {
    margin-top: 0.5rem;
    border-radius: 1rem;
    padding: 7px 21px;
    border: 1px solid rgb(12, 90, 122);
    background: transparent;
    color: rgb(12, 90, 122);
}

.main__header__buttons > button:hover {
    border: 2px solid white;
    color: white;
    transition: 150ms;
}

/* SOCIAL MEDIA LINKS ICONS */

.main__header__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1em;
}

.social__icons {
    display:inline-flex;
    color: rgba(12, 90, 122);
    gap: 0.25em;
}

/* @media only screen and (max-width: 768px) {
    .main__header__container {
        height: 100vh;
    }
} */